div{
    color: #000000;
}

.conteneur{
    font-size: 10px;
    background-color: lightgray;
    height: 300px;
}

div#demo{
    color: brown;
}

div.boite{
    color: #ffffff;
    background-color: rgb(100, 50, 67, 0.1);
    width: 60vw;
    height: 50vh;
}

div#demo{
    color: black;
}

div#demo a{
    display: block;
}
